<div class="filters__form--standard">
    {% if collection.current_vendor or collection.current_type %}
        <input type="hidden" name="q" value="{{ collection.current_vendor }}{{ collection.current_type }}">
    {% endif %}

    {%- if section.settings.enable_sorting -%}
        <div class="filter__group filter__group--sort-by">
            
            <h1 class="filter__group-title">{{ 'sections.collection_template.sort_by_label' | t }}</h1>
            {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
            
            <div class="select">
                <select name="sort_by" id="sort_by">
                    {% for option in collection.sort_options %}
                        <option value="{{ option.value }}"{% if option.value == sort_by %} selected {% endif %}>{{ option.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <noscript>
                <button type="submit" class="button button--small">{{ 'sections.collection_template.sort_button' | t }}</button>
              </noscript>
        </div>
    {%- endif -%}
    
    {% for filter in collection.filters %}
        {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
        {% case filter.type %}
            {% when 'list' %}
                <div class="filter__group js-filter" data-index="{{ forloop.index }}">
                    <h1 class="filter__group-title">{{ filter.label }} <span class="selection-count">{%- if filter.active_values.size > 0 -%}{{ filter.active_values.size }}{%- endif -%}</span></h1>
                    <ul class="filter__list">
                        {% for value in filter.values %}
                            {% if value.param_name contains 'vendor' %}
                                {%- assign filter_type = 'vendor' -%}
                            {% elsif value.param_name contains 'product_type' %}
                                {%- assign filter_type = 'product' -%}
                            {% endif %}
                            <li class="filter__list-item">
                                <span>{{ value.label }} ({{ value.count }})</span>
                                <div class="filter__checkbox-container">
                                    <label for="Filter-{{ filter.label | escape }}-{{ forloop.index }}" class="filter__checkbox {% if value.count == 0 and value.active == false%} filter__checkbox--disabled {%  endif %}{% if value.active == true %}active{% endif %}" 
                                        {% if value.count == 0 and value.active == false %}data-disabled="true"{% endif %}>
                                        <input type="checkbox" 
                                        id="Filter-{{ filter.label | escape}}-{{ forloop.index }}"
                                        class="filter__checkbox-input"
                                        name="{{ value.param_name }}" 
                                        value="{{ value.value }}" 
                                        data-type="{{ filter_type }}"
                                        {% if value.active %}checked{% endif %}
                                        {% if value.count == 0 and value.active == false %}disabled{% endif %}>
                                    </label>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
          
                </div>
                
            {% when 'price_range' %}
                <div class="filter__group js-filter filter__group--price" data-index="{{ forloop.index }}">
                    <h1 class="filter__group-title">{{ filter.label }}</h1>
                    <price-range class="price-fields">
                        <div class="price-field">
                            <span class="price-field__currency">{{ cart.currency.symbol }}</span>
                            <input class="price-field__input" 
                                name="{{ filter.min_value.param_name }}" 
                                id="Filter-{{ filter.label | escape }}-GTE"
                                {% if filter.min_value.value %}
                                    value="{{ filter.min_value.value | money_without_currency}}"
                                {% endif %}
                                type="number"
                                placeholder=0
                                min=0
                                max="{{ filter.range_max | money_without_currency | replace: ',', ''}}"
                                >
                        </div>
                        {% render 'icon-arrow' %}
                        <div class="price-field">
                            <span class="price-field__currency">{{ cart.currency.symbol }}</span>
                            <input class="price-field__input" 
                                name="{{ filter.max_value.param_name }}"
                                id="Filter-{{ filter.label | escape }}-LTE"
                                {% if filter.max_value.value %}
                                    value="{{ filter.max_value.value | money_without_currency }}"
                                {% endif %}
                                type="number"
                                placeholder="{{ filter.range_max | money_without_currency | replace: ',', ''}}"
                                min="0"
                                max="{{ filter.range_max | money_without_currency | replace: ',', ''}}"
                                >
                        </div>
                    </price-range>
                </div>
        {% endcase %}
    {% endfor %}
    <noscript>
        <button type="submit">{{ 'sections.collection_template.filter_button' | t }}</button>
    </noscript>
</div>