<kendama-header-drawer class="mobile-filters__wrapper" data-breakpoint="mobile">
    <details>
        <summary>
            <span>
                {% render 'icon-filter' %}
                <span>{{ 'sections.collection_template.filter_and_sort' | t}}</span>
                <span>
                    {%- if total_active_values -%} {{ total_active_values }}{%- endif -%}
                </span>
            </span>
            <span tabindex="0">{% render 'icon-close' %}</span>
        </summary>
        <product-filters-form>
            <form id="CollectionFiltersFormMobile">
                <div class="">
                    <div class="">
                        <div>
                            <h2>{{ 'sections.collection_template.filter_and_sort' | t }}</h2>
                            <p>{{ 'sections.collection_template.product_count' | t: product_count: collection.products_count, count: collection.all_products_count }}</p>
                        </div>
                    </div>
                </div>
                <div>
                    {%- for filter in collection.filters -%}
                        {% case filter.type %}
                            {% when 'list' %}
                                <details class="mobile-filters__details js-filter" data-index="mobile-{{ forloop.index}}">
                                    <summary class="mobile-filters__summary">
                                        <div>
                                            <span>{{ filter.label | escape }}</span>
                                            <span class="selection-count">
                                                {%- if filter.active_values.size > 0 -%} {{ filter.active_values.size }}{%- endif -%}
                                            </span>
                                            <span class="mobile-filters__arrow no-js-hidden">{% render 'icon-arrow' %}</span>
                                            <noscript>{% render 'icon-caret' %}</noscript>
                                        </div>
                                    </summary>
                                    <div class="mobile-filters__submenu">
                                        <button class="mobile-filters__close-button">
                                            {% render 'icon-arrow' %}
                                            {{ filter.label | escape }}
                                        </button>
                                        <ul class="mobile-filters__list list-unstyled">
                                            {% for value in filter.values %}
                                                <li class="mobile-filters__item">
                                                    <label for="Filter-{{ filter.label | escape}}-mobile-{{ forloop.index }}" class="mobile-filters__label {% if value-.count == 0 and value.active == false %}disabled{% endif %}"">
                                                        <input class="mobile-filters__checkbox" type="checkbox" name="{{ value.param_name }}" value="{{ value.value }}" id="Filter-{{ filter.label | escape}}-mobile-{{ forloop.index }}"
                                                            {% if value.active %}checked{% endif %}
                                                            {% if value.count == 0 and value.active == false %}disabled{% endif %}
                                                        >

                                                        <span class="mobile-filters__highlight"></span>

                                                        <svg width="16" height="16" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                                          <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                                        </svg>
                        
                                                        <svg class="icon icon-checkmark" width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                          <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" />
                                                        </svg>
                                                        
                                                        {{ value.label | escape}} ({{ value.count }})
                                                    </label>
                                                </li>
                                            {% endfor %}
                                        </ul>

                                        <div class="no-js-hidden mobile-facets__footer">
                                            <facet-remove>
                                                <a href="{{ collection.url }}" class="mobile-facets__clear button button--secondary">{{ 'sections.collection_template.clear' | t }}</a>
                                            </facet-remove>
                                            <button type="button" class="no-js-hidden button button--primary" onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()">{{ 'sections.collection_template.apply' | t }}</button>
                                            <noscript><button class="button button--primary">{{ 'sections.collection_template.apply' | t }}</button></noscript>
                                        </div>
                                    </div>
                                </details>
                                {% when 'price_range' %}
                                    <details class="movile-filters__details js-filter" data-index="mobile-{{ forloop.index }}">
                                        <summary class="mobile-filters__summary">
                                            <div>
                                                <span>{{ filter.label | escape }}</span>
                                                <span class="selection-count {%- if filter.min_value.value or filter.max_value.value -%}{{ filter.active_values_size }}{%- endif -%} "></span>
                                                <span class="mobile-filters__arrow no-js-hidden">{% render 'icon-arrow' %}</span>
                                                <noscript>{% render 'icon-caret' %}</noscript>
                                            </div>
                                        </summary>
                                        <div class="mobile-filters__submenu">
                                            <button class="mobile-filters__close-button">
                                                {% render 'icon-arrow' %}
                                                {{ filter.label | escape }}
                                            </button>
                                            
                                            {%- assign max_price_amount = filter.range_max | money | escape -%}                                            
                                            
                                            <p class="mobile-filters__info">{{ 'section.collection_template.max_price' | t: price: max_price_amount }}</p>
                                            
                                            <price-range class="price-fields">
                                                <div class="price-field">
                                                    <span class="price-field__currency">{{ cart.currency.symbol }}</span>
                                                    <input class="price-field__input" 
                                                        name="{{ filter.min_value.param_name }}" 
                                                        id="Mobile-Filter-{{ filter.label | escape }}-GTE"
                                                        {% if filter.min_value.value %}
                                                            value="{{ filter.min_value.value | money_without_currency}}"
                                                        {% endif %}
                                                        type="number"
                                                        placeholder=0
                                                        min=0
                                                        max="{{ filter.range_max | money_without_currency | replace: ',', ''}}"
                                                        >
                                                </div>
                                                {% render 'icon-arrow' %}
                                                <div class="price-field">
                                                    <span class="price-field__currency">{{ cart.currency.symbol }}</span>
                                                    <input class="price-field__input" 
                                                        name="{{ filter.max_value.param_name }}"
                                                        id="Mobile-Filter-{{ filter.label | escape }}-LTE"
                                                        {% if filter.max_value.value %}
                                                            value="{{ filter.max_value.value | money_without_currency }}"
                                                        {% endif %}
                                                        type="number"
                                                        placeholder="{{ filter.range_max | money_without_currency | replace: ',', ''}}"
                                                        min="0"
                                                        max="{{ filter.range_max | money_without_currency | replace: ',', ''}}"
                                                        >
                                                </div>
                                            </price-range>
                                        </div>
                                    </details>
                            {% else %}
                        {% endcase %}
                    {% endfor %}
                    {%- if section.settings.enable_sorting -%}
                        <div class="mobile-filters__details js-filter" data-index="mobile-{{ forloop.index }}">
                            <div class="mobile-filters__summary">
                                <div class="mobile-filters__sort">
                                    <label for="SortBy-mobile">{{ 'sections.collection_template.sort_by_label' | t }}</label>
                                    <div class="select">
                                        <select name="sort_by" class="select__select" id="SortBy-mobile" aria-describedby="a11y-refresh-page-message">
                                            {%- for option in collection.sort_options -%}
                                              <option value="{{ option.value | escape }}"{% if option.value == sort_by %} selected="selected"{% endif %}>{{ option.name | escape }}</option>
                                            {%- endfor -%}
                                          </select>
                                          {% render 'icon-caret' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {%- endif -%}

                    <div class="mobile-facets__footer">
                        <facet-remove>
                          <a href="{{ collection.url }}" class="mobile-facets__clear button button--secondary">{{ 'sections.collection_template.clear' | t }}</a>
                        </facet-remove>
                        <button type="button" class="no-js-hidden button button--primary" onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()">{{ 'sections.collection_template.apply' | t }}</button>
                        <noscript><button class="button button--primary">{{ 'sections.collection_template.apply' | t }}</button></noscript>
                      </div>
                    </div>
                    
                    {% if collection.current_vendor or collection.current_type %}
                        <input type="hidden" name="q" value="{{ collection.current_vendor }}{{ collection.current_type }}">
                    {% endif %}

                </div>
            </form>
        </product-filters-form>
    </details>
</kendama-header-drawer>