<div class="product__media">
    <img src="{{ media | img_url: 'large' }}" 
        srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | img_url: '288x' }} 288w,{% endif %}
        {% if media.preview_image.width >= 576 %}{{ media.preview_image | img_url: '576x' }} 576w,{% endif %}
        {% if media.preview_image.width >= 550 %}{{ media.preview_image | img_url: '550x' }} 550w,{% endif %}
        {% if media.preview_image.width >= 1100 %}{{ media.preview_image | img_url: '1100x' }} 1100w{% endif %}"
        alt="{{ media.preview_image.alt | escape }}"
        loading="lazy">
    <div class="media__thumbnails">
        {% for media in product.media %}
            <img src="{{ media.src | img_url: 'medium'}}" alt="{{ image.alt }}">
        {% endfor %}
    </div>
</div>