{{ 'component-kendama-categories.css' | asset_url | stylesheet_tag }}

<section class="margin-vertical-lg">
    <div class="categories container">
        {% for block in section.blocks %}
            {% case block.type %}
                {% when 'category' %}
                    <div class="category">
                        {%- assign image_size = block.settings.image_size | append: '%' -%}
                        {% if block.settings.image != blank %}
                            <img src="{{ block.settings.image | img_url: 'large' }}" alt="category image" style="width: {{ image_size }};">
                        {% else %}
                            {{ 'image' | placeholder_svg_tag }}
                        {% endif %}
                      
                        <h2>{{ block.settings.text }}</h2>
                    </div>
            {% endcase %}
        {% endfor %}
    </div>  
</section>

{% schema %}
{
    
    "name": "Categories",
    "blocks": [
        {
            "name": "Category",
            "type": "category",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }, 
                {
                    "type": "range",
                    "id": "image_size",
                    "label": "Image size",
                    "min": 5,
                    "max": 100,
                    "step": 5,
                    "default": 60,
                    "unit": "%"
                },
                {
                    "type": "text",
                    "id": "text",
                    "label": "Text"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Categories",
            "blocks": [
                {
                    "type": "category"
                },
                {
                    "type": "category"
                },
                {
                    "type": "category"
                }
            ]
        }
    ]
}
{% endschema %}