{{ 'component-kendama-multicolumn-card.css' | asset_url | stylesheet_tag}}

<section class="multicolumn-card margin-vertical-lg">
    <div class="container">
        <div class="text-align--center">
            <h1 class="margin-vertical-sm text-uppercase bold">{{ section.settings.heading }}</h1>
            <div class="section-description">
                {{ section.settings.description }}
            </div>
  
        </div>
        <div class="multicolumn-card__container">
            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'card' %}
                        <div class="card">
                            <div class="card__image-container">
                                {% if block.settings.image != blank %}
                                <img class="card__image" src="{{ block.settings.image | img_url: 'large'}}" alt="">
                            {% else %}
                                {{ 'lifestyle-1' | placeholder_svg_tag: "card__image"}}
                            {% endif %}
                            </div>
                            <div class="card__main">
                                <div class="card__header" style="background-color: {{ block.settings.background }};">
                                    <h2>{{ block.settings.heading }}</h2    >
                                </div>
                                <div class="card__content">
                                    {{ block.settings.description }}
                                </div>
                            </div>
                    
                        </div>
                {% endcase %}
            {% endfor %}
        </div>
    </div>
</section>


{% schema %}
{
    "name": "Multicolumn Card",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Enter heading"
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>"
        }
    ],
    "blocks": [
        {
            "name": "Card",
            "type": "card",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading",
                    "default": "Name"
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description",
                    "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "color",
                    "id": "background",
                    "label": "Background",
                    "default": "#fff"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Multicolumn card",
            "blocks": [
                {
                    "type": "card"
                },
                {
                    "type": "card"
                },
                {
                    "type": "card"
                }
            ]
        }
    ]
}
{% endschema %}