{{ 'component-kendama-image-with-text.css' | asset_url | stylesheet_tag}}
{{ 'component-kendama-product-box-slide.css' | asset_url | stylesheet_tag}}

<section class="image-with-text margin-vertical-lg">
    <div class="container ">
        {% if section.settings.flow == "half" %}
            {%- assign layout_class = 'flex-col-2' -%}
        {% elsif section.settings.flow == 'two_thirds' %}
            {%- assign layout_class = 'flex-col-two-thirds' -%}
        {% else %}
            {%- assign layout_class = 'flex-col-three-fifths' -%}
        {% endif %}
        {%- assign col_gap = section.settings.col_gap | divided_by: 10.0 | append: 'rem' -%}
        <div class="image-with-text__container flex {% if section.settings.order == 'text_first' %} image-with-text__container--reverse {% endif %} {{ layout_class }}" style="gap: {{ col_gap }};">
            <div class="image-with-text__col-1 flex-item {{ section.settings.image_align }}">
                <div class="image-with-text__image {% if section.settings.image_full_width %} full-width {% endif %} {% if section.settings.image_full_height %} full-height {% endif %} {% if section.settings.image_shape == "circle" %} circle {% endif %} ">
                    {% if section.settings.main_image != blank %}
                        <img class="{% if section.settings.show_box_shadow %}box-shadow-{{ section.settings.box_shadow_type }}{% endif %}" style="color: {{ section.settings.box_shadow_color }}; width: {{ section.settings.image_width }}%" src="{{ section.settings.main_image | img_url: '1000x' }}" alt="">
                    {% else %}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    {% endif %}
                </div>
                {% if section.settings.show_product_box %}
                    <product-box class="product-box">
                        <div class="product-box__top">
                            {% assign kendama_products = collections[section.settings.featured_collection].products %}
                            {% if kendama_products[0] %}
                                {% for product in kendama_products %}
                                    <a class="product-box__link{% if forloop.index > 1 %} absolute {% else %} relative {% endif %}" href="{{ product.url }}">
                                        <div class="product-box__image">
                                            <img src="{{ product.featured_media.preview_image | img_url: 'large'}}" alt="{{ product.title }}">
                                        </div>
                                    </a>
                                {% endfor %}
                                {% if kendama_products.size > 1 %}
                                    {{ 'right.png' | file_url | img_tag: 'right arrow', 'arrow arrow-right'}}
                                    {{ 'right.png' | file_url | img_tag: 'left arrow', 'arrow arrow-left'}}
                                {% endif %}     
                            {% else %}
                            <a class="product-box__link" href="#">
                                <div class="product-box__image">
                                    {{ 'product-1' | placeholder_svg_tag: 'product-box__image--placeholder'}}
                                </div>
                            </a>
                            {% endif %}
                        </div>
                        <div class="product-box__bottom">
                            {% if collections[section.settings.featured_collection].products[0] %}
                                {% for product in collections[section.settings.featured_collection].products %}
                                    <div class="product-box__thumbnail" >
                                        <img src="{{ product.featured_media.preview_image | img_url: 'medium'}}" alt="{{ product.title }}" index={{ forloop.index }}>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% for i in (1..4) %}
                                    <div class="product-box__thumbnail">
                                        {{ 'product-1' | placeholder_svg_tag: 'product-box__image--placeholder'}}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </product-box>
                {% endif %}
            </div>
            
            <div class="image-with-text__content flex-item {{ section.settings.text_align }}">
                {% assign heading_font_size = section.settings.heading_size | divided_by: 10.0 | append: 'rem' %}
                <h1 class="margin-vertical-sm" style=" font-size: {{ heading_font_size }};">{{ section.settings.heading }}</h1>
                {{ section.settings.description }}
                {% if section.settings.show_button %}
                    <a class="image-with-text__button" href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% javascript %}

    class ProductBox extends HTMLElement {
        constructor() {
            super();
        }

        connectedCallback() {
            this.slides = this.querySelectorAll('.product-box__link');
            this.slideWidth = this.slides[0].clientWidth;
            this.thumbnails = this.querySelectorAll('.product-box__thumbnail');

            this.arrowLeft = this.querySelector('.arrow-left');
            this.arrowRight = this.querySelector('.arrow-right');

            this.arrowLeft.style.display = "none";

            this.slidePosition = 0;
            this.thumbnails[this.slidePosition].classList.add("active");

            this.arrowLeft.addEventListener('click', this.moveSlide.bind(this, 1));
            this.arrowRight.addEventListener('click', this.moveSlide.bind(this, -1));

            for(let i = 0; i < this.thumbnails.length; i++) {
                this.thumbnails[i].querySelector('img').addEventListener('click', this.moveThumbnail.bind(this));
            }

            this.placeSlides();
        }

        placeSlides() {
            for(let i = 0; i < this.slides.length; i++) {
                this.slides[i].style.left = this.slideWidth * i + "px";
            }
        }

        moveSlide(numToMove) {  

            for(let i = 0; i < this.slides.length; i++) {
                this.slides[i].style.left = parseInt(this.slides[i].style.left) + (numToMove * this.slideWidth) + "px";
            }

            this.thumbnails[this.slidePosition].classList.remove('active');
            this.slidePosition += (numToMove * -1);

            if(this.slidePosition > 0) {
                this.arrowLeft.style.display = "initial";
            } else {
                this.arrowLeft.style.display = "none";
            }

            if(this.slidePosition < this.slides.length -1) {
                this.arrowRight.style.display = "initial"
            } else {
                this.arrowRight.style.display = "none"; 
            }

            this.thumbnails[this.slidePosition].classList.add('active');

        }

        moveThumbnail(event) {
            const { target: el } = event;
            const elIndex = parseInt(el.getAttribute('index')) - 1;

            const numToMove = this.slidePosition - elIndex;
            
            this.moveSlide(numToMove);
        }

        changeActiveClass(direction) {
            this.thumbnails[this.slidePosition].classList.remove('active');

            direction === 'left' ? this.thumbnails[this.slidePosition - 1].classList.add('active') : this.thumbnails[this.slidePosition + 1].classList.add('active');
        }
    }    

    customElements.define('product-box', ProductBox);

{% endjavascript %}

{% schema %}
{
    "name": "Image-with-text",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "default": "New",
            "label": "Heading"
        },
        {
            "type": "range",
            "id": "heading_size",
            "min": 12,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Heading font size",
            "default": 32
        },
        {
            "type": "richtext",
            "id": "description",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>",
                        "label": "Description"
        },
        {
            "type": "image_picker",
            "id": "main_image",
            "label": "Main Image"
        },
        {
            "type": "range",
            "id": "image_width",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "%",
            "label": "Image Size",
            "default": 50,
            "info": "Control the image size"
        },    
        {
            "type": "checkbox",
            "id": "show_box_shadow",
            "label": "Image box shadow",
            "default": false
        },
        {
            "type": "color",
            "id": "box_shadow_color",
            "label": "Box shadow color",
            "default": "#000"
        },
        {
            "type": "select",
            "id": "box_shadow_type",
            "options": [
                {
                    "value": "one",
                    "label": "Type one"
                },
                {
                    "value": "two",
                    "label": "Type two"
                }
            ],
            "default": "one",
            "label": "Box shadow type"
        },
        {
            "type": "select",
            "id": "image_shape",
            "options": [
                {
                    "value": "rectangle",
                    "label": "Rectangle"
                },
                {
                    "value": "circle",
                    "label": "Circle"
                }
            ],
            "default": "rectangle",
            "label": "Image shape",
            "info": "Choose the shape of the image"
        },
        {
            "type": "checkbox",
            "id": "show_button",
            "label": "Show Button",
            "default": true,
            "info": "Check if you would like a button link"
        },
        {
            "type": "text",
            "id": "button_label",
            "default": "Click Here",
            "label": "Button Label"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
        },
        {
            "type": "select",
            "id": "flow",
            "options": [
                {
                    "value": "half",
                    "label": "Half"
                },
                {
                    "value": "two_thirds",
                    "label": "Two thirds"
                }
            ],
            "default": "half",
            "label": "Column layout",
            "info": "Choose the layout of the columns"
        },
        {
            "type": "range",
            "id": "col_gap",
            "min": 0,
            "max": 150,
            "step": 5,
            "unit": "px",
            "label": "Column gap",
            "default": 0
        },        
        {
            "type": "select",
            "id": "order",
            "options": [
                {
                    "value": "image_first",
                    "label": "Image first"
                },
                {
                    "value": "text_first",
                    "label": "Text first"
                }
            ],
            "default": "image_first",
            "label": "Desktop order",
            "info": "Choose the order of the image and text"
        },
        {
            "type": "select",
            "id": "text_align",
            "options": [
                {
                    "value": "center",
                    "label": "Centre aligned" 
                },
                {
                    "value": "left",
                    "label": "Left aligned"
                }, 
                {
                    "value": "right",
                    "label": "Right aligned"
                }
            ],
            "default": "center",
            "label": "Text alignment",
            "info": "Choose how you would like the text to align"
        },
        {
            "type": "select",
            "id": "image_align",
            "options": [
                {
                    "value": "center",
                    "label": "Center aligned" 
                },
                {
                    "value": "left",
                    "label": "Left aligned"
                }, 
                {
                    "value": "right",
                    "label": "Right aligned"
                }
            ],
            "default": "left",
            "label": "Image alignment",
            "info": "Choose how you would like the image to align"
        },
        {
            "type": "checkbox",
            "id": "show_product_box",
            "label": "Show product box",
            "default": false
        },
        {
            "type": "collection",
            "id": "featured_collection",
            "label": "Collection",
            "info": "Select the collection you would like to show in the product box"
        }
    ],
    "presets": [
        {
            "name": "Image with text custom"
        }
    ]
}
{% endschema %}