{{ 'kendama-product.css' | asset_url | stylesheet_tag}}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">

<script src="{{ 'variant-selects.js' | asset_url }}" defer></script>
<script src="{{ 'kendama-product-form.js' | asset_url }}" defer></script>
<script src="{{ 'kendama-cart-notification.js' | asset_url }}" defer></script>

{%- assign current_product = product.selected_or_first_available_variant -%}
{%- assign product_image = current_product.featured_image | default: product.featured_image -%}

{%- if first_3d_model -%}
    {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
    <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
    <link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

{%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}

<section class="margin-vertical-md">
    <div class="product__container container--md">
        <div class="product">
            <div class="product__media-wrapper">
                <div class="product__media-item">
                    {% render 'kendama-product-thumbnail', media: product_image %}
                </div>
            </div>
            <div id="KendamaProductInfo-{{ section.id }}" class="product__info-wrapper">
                {%- assign product_form_id = 'kendama-product-form-' | append: section.id -%}
                {%- for block in section.blocks -%}
                    {%- case block.type -%}
                        {%- when '@app'-%}
                            {% render block %}
                        {% when 'text' %}
                            <p class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}" {{ block.shopify_attributes}}>
                                {{- block.settings.text -}}
                            </p>
                        {% when 'title' %}
                            <h1 class="product__title" {{ block.shopify_attributes}}>{{ product.title | escape }}</h1>
                        {% when 'price' %}
                            <div class="no-js-hidden" id="price-{{ section.id }}">
                                {% render 'kendama-price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' %}
                            </div>
                            <div {{ block.shopify_attributes }}>
                                {%- form 'product', product, id: 'product-form-installment', class: 'installment caption-large' -%}
                                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                                  {{ form | payment_terms }}
                                {%- endform -%}
                            </div>
                        {% when 'description' %}
                            {%- if product.description != blank -%}
                                <div class="product__description rte">
                                    {{ product.description }}
                                </div>
                            {%- endif -%}
                        {% when 'custom_liquid' %}
                            {{ block.settings.custom_liquid }}
                        {% when "collapsible_tab" %}
                            <div class="product__accordion accordion">
                                <details>
                                    <summary>
                                      <div class="summary__title">
                                        {% render 'icon-accordion', icon: block.settings.icon %}
                                        <h2 class="h4 accordion__title">
                                          {{ block.settings.heading | default: block.settings.page.title }}
                                        </h2>
                                      </div>
                                      {% render 'icon-caret' %}
                                    </summary>
                                    <div class="accordion__content rte">
                                      {{ block.settings.content }}
                                      {{ block.settings.page.content }}
                                    </div>
                                  </details>
                            </div>
                        {% when 'quantity_selector' %}
                            {%- if product.availbale -%}
                                <div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>
                                    <label class="form__label" for="Quantity-{{ section.id }}">
                                    {{ 'products.product.quantity.label' | t }}
                                    </label>
                                    <quantity-input class="quantity">
                                        <button class="quantity__button no-js-hidden" name="minus" type="button">
                                            <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                                            {% render 'icon-minus' %}
                                        </button>
                                        <input class="quantity__input"
                                            type="number"
                                            name="quantity"
                                            id="Quantity-{{ section.id }}"
                                            min="1"
                                            value="1"
                                            form="product-form-{{ section.id }}"
                                            >
                                        <button class="quantity__button no-js-hidden" name="plus" type="button">
                                            <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                                            {% render 'icon-plus' %}
                                        </button>
                                    </quantity-input>
                                </div>
                            {%- endif -%}
                        {%- when 'share' -%}
                                <div class="share__buttons">
                                    <share-button class="share-button" {{ block.shopify_attributes }}>
                                        <button class="share-button__button button button--tertiary hidden">
                                            {% render 'icon-share' %}
                                            {{ 'general.share.share' | t }}
                                        </button>
                                        <details>
                                            <summary class="share-button__button button button--tertiary">
                                            {% render 'icon-share' %}
                                            {{ 'general.share.share' | t }}
                                            </summary>
                                            <div class="share-button__fallback">
                                            <div class="field">
                                                <input type="text"
                                                    class="field__input"
                                                    id="url"
                                                    value="{{ shop.url | append: product.url }}"
                                                    placeholder="{{ 'general.share.share_url' | t }}"
                                                    onclick="this.select();"
                                                    readonly
                                                >
                                                <label class="field__label" for="url">{{ 'general.share.share_url' | t }}</label>
                                            </div>
                                            <button class="button button--tertiary">
                                                {% render 'icon-clipboard' %}
                                                {{ 'general.share.copy_to_clipboard' | t }}
                                            </button>
                                            <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status" aria-hidden="true">
                                                {{ 'general.share.success_message' | t }}
                                            </span>
                                            </div>
                                        </details>
                                    </share-button>
                                </div>
                                  
                                <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
                        {% when 'share_social' %}
                            <div class="share-social-buttons">
                                <a class="share-button--social" href="https://www.facebook.com/sharer.php?u=https://kendamalondon.com{{ product.url }}">
                                    {% render 'icon-facebook-2' %}
                                    Pin it                   
                                </a>
                                <a class="share-button--social" href="https://www.twitter.com/share/?text={{ product.title }}&media=something">
                                    {% render 'icon-twitter-2' %}
                                    Tweet                      
                                </a>
                                <a class="share-button--social" href="https://pinterest.com/pin/create/button/?url=https://kendamalondon.com{{ product.url }}&media={{ product.featured_image | file_url }}/">
                                    {% render 'icon-pinterest-2' %}
                                    {{ 'general.share.share' | t }}                       
                                </a>
                            </div>
                        {% when 'variant_picker' %}
                        {%- unless product.has_only_default_variant -%}
                            <variant-selects data-section={{ section.id }} data-url="{{ product.url }}">
                                {% for option in product.options_with_values %}
                                    <div class="product-form__input">
                                        <label for="Option-{{ section.id }}-{{ forloop.index }}">{{ option.name }}</label>
                                        <select id="Option-{{ section.id }}-{{ forloop.index }}" 
                                            name="options[{{ option.name | escape }}]" 
                                            form="{{ product_form_id }}">
                                            {% for value in option.values %}
                                                <option value="{{ value | escape }}" {%- if option.selected_value == value -%}selected{%- endif -%}>
                                                    {{ value }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endfor %}
            
                                <script type="application/json">
                                    {{ product.variants | json }}
                                </script>
                            </variant-selects>   
                        {%- endunless -%}    
                        {% when 'buy_buttons' %}
                            <product-form class="product__form">
                                {%- form 'product', product, id: product_form_id, novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                                    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                                    <div class="product-form__buttons">
                                        <button type="submit" name="add" {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
                                            {% if product.selected_or_first_available_variant.available %}
                                                {{ 'products.product.add_to_cart' | t }}
                                            {% else %}
                                                {{ 'products.product.sold_out' | t }}
                                            {% endif %}
                                        </button>
                                        {{ form | payment_button }}
                                    </div>
                                {%- endform -%}
                            </product-form>

                            {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

                            {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}

                            <pickup-availability class="product__pickup-availabilities no-js-hidden"
                                {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %} available{% endif %}
                                data-base-url="{{ shop.url }}{{ routes.root_url }}"
                                data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                                data-has-only-default-variant="{{ product.has_only_default_variant }}"
                            >
                                <template>
                                <pickup-availability-preview class="pickup-availability-preview">
                                    {% render 'icon-unavailable' %}
                                    <div class="pickup-availability-info">
                                    <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                                    <button class="pickup-availability-button link link--text underlined-link">{{ 'products.product.pickup_availability.refresh' | t }}</button>
                                    </div>
                                </div>
                                </template>
                            </pickup-availability>

                            <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
                    {% endcase %}
                {% endfor %}
                
            </div>  
        </div>
    </div>
    {%- render 'cart-notification' -%}

    {% assign popups = section.blocks | where: "type", "popup" %}
    {%- for block in popups -%}
        <modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal" {{ block.shopify_attributes }}>
        <div role="dialog" aria-label="{{ block.settings.link_label }}" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
            <button id="ModalClose-{{ block.id }}" type="button" class="product-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
            <div class="product-popup-modal__content-info">
            <h1 class="h2">{{ block.settings.page.title }}</h1>
            {{ block.settings.page.content }}
            </div>
        </div>
        </modal-dialog>
    {%- endfor -%}
</section>


{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>

  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section spaced-section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.title_info.content"
        }
      ]
    },
    {
        "type": "share_social",
        "name": "share_social",
        "limit": 1
      },
    {
      "type": "custom_liquid",
      "name": "Custom liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible tab",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        }
      ]
    },
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "settings": [
        {
          "type": "text",
          "id": "link_label",
          "default": "Pop-up link text",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "t:sections.main-product.blocks.popup.settings.page.label"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_looping.label"
    }
  ]
}
{% endschema %}