{{ 'template-kendama-main-collection-product-grid.css' | asset_url | stylesheet_tag}}
{{ 'snippet-product-item.css' | asset_url | stylesheet_tag}}
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">

<script src="{{ 'product-filters-form.js' | asset_url}}" defer="defer"></script>
<script src="{{ 'kendama-product-form.js' | asset_url }}" defer></script>
<script src="{{ 'kendama-cart-notification.js' | asset_url }}" defer></script>

<section class="margin-vertical-sm">
    <div class="collection container">
        <div class="collection-filters">
            <product-filters-form>
                <form id="ProductFiltersForm" class="filters__form">
                  {% render 'filters-form-standard' %}
                </form>
            </product-filters-form>
        </div>
        <div id="ProductGrid" class="products-container">
            {% paginate collection.products by 9 %}
                {% if collection.products.size == 0 %}
                    <div class="collection-products" id="kendama-main-collection-product-grid" data-id="{{ section.id }}">
                        <div class="loading-overlay">
                            <div class="loading-overlay__spinner">
                        
                            </div>
                        </div>

                        <p class="product-count" role="status">
                            {{ 'sections.collection_template.product_count' | t: product_count: collection.products_count, count: collection.all_products_count }}
                        </p>

                        <div class="product-empty">
                            <h2> 
                                {{ 'sections.collection_template.empty' | t }}
                                {{ 'sections.collection_template.use_fewer_filters_html' | t: class: "empty_link", link: collection.url}}
                            </h2>
                        </div>
                </div>
                {% else %}
                <div class="collection-products">
                    <div class="collection-products__header">
                
                        
                    </div>
                    <div id="kendama-main-collection-product-grid" data-id="{{ section.id }}" class="product-grid">
                        {% for product in collection.products %}
                            <div>
                                {% render 'product-item',
                                    product: product 
                                %}
                            </div>
                    {% endfor %}
                    </div>
                </div> 
                   

                {% endif %}
                {% if paginate.pages > 1 %}
                    {% render 'kendama-pagination', paginate: paginate %}
                {% endif %}
            {% endpaginate %}
        </div>
    </div>
</section>