{{ 'component-kendama-gallery.css' | asset_url | stylesheet_tag }}

<section class="margin-vertical-lg">
    <div>
        <div class="heading__container text-align--center margin-vertical-md">
            <h1 class="heading margin-vertical-md">{{ section.settings.heading }}</h1>
            <h3>{{ section.settings.sub_heading }}</h3>
        </div>
        <div class="gallery__container flex">
            {% for block in section.blocks %}
                {% case block.type %}
                            {% when 'image' %}
                                <div class="gallery__item">
                                    {% if block.settings.image != blank %}
                                        {% if block.settings.media_icon != blank %}
                                            <img class="gallery__icon" src="{{ block.settings.media_icon | img_url: 'large'}}" alt="">
                                        {% else %}
                                            {{ 'image' | placeholder_svg_tag: 'icon-placeholder' }}
                                        {% endif %}
                                       
                                        <img class="gallery__image" src="{{ block.settings.image | img_url: 'large'}}" alt="">
                                    {% else %}
                                        {{ 'image' | placeholder_svg_tag: 'image-placeholder' }}
                                    {% endif %}
                                </div>
                                
                            {% when 'video' %}
                                <div class="gallery__item video">
                                        <!-- <video width="100%" height="100%">
                                        {% if block.settings.video != blank %}
                                            <source src="{{ block.settings.video }}" type="video/mp4">
                                            <source src="{{ block.settings.video }}" type="video/ogg">
                                            <source src="{{ block.settings.video }}" type="video/webm">
                                        {% else %}
                                            <source src="https://www.youtube.com/watch?v=iFiiXkonsXY" type="video/mp4">
                                        {% endif %}
                                    </video> -->
                                </div>
                {% endcase %}
            {% endfor %}
        </div>
    </div>
</section>


{% schema %}
{
    "name": "Gallery",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Follow us on instagram"
        },
        {
            "type": "text",
            "id": "sub_heading",
            "label": "Sub heading",
            "default": "for more kendama antics"
        }
    ],
    "blocks": [
        {
            "name": "Image",
            "type": "image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Featured image"
                },
                {
                    "type": "image_picker",
                    "id": "media_icon",
                    "label": "Media icon"
                }
            ]
        },
        {
            "name": "Video",
            "type": "video",
            "settings": [
                {
                    "type": "video_url",
                    "id": "video",
                    "label": "Featured video",
                    "accept": [
                        "youtube",
                        "vimeo"
                    ]
                },
                {
                    "type": "image_picker",
                    "id": "media_icon",
                    "label": "Media icon"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Gallery",
            "blocks": [
                {
                    "type": "image"
                },
                {
                    "type": "image"
                },
                {
                    "type": "image"
                },
                {
                    "type": "image"
                },
                {
                    "type": "image"
                },
                {
                    "type": "image"
                },
                {
                    "type": "image"
                },
                {
                    "type": "image"
                },
                {
                    "type": "image"
                },
                {
                    "type": "image"
                }
            ]
        }
    ]
}
{% endschema %}