{{ 'component-kendama-kenkredits-cta.css' | asset_url | stylesheet_tag}}

<div class="kenkredits" style="{% if section.settings.background %} background-color: {{ section.settings.background }}; {% endif %}">
    {% if section.settings.icon %}
        <img src="{{ section.settings.icon | img_url: 'small'}}" alt="">
    {% endif %}
    <h1 style="{% if section.settings.background %} color: {{ section.settings.text_color }}; {% endif %}">{{ section.settings.title }}</h1>
    {% if section.settings.icon %}
        <img src="{{ section.settings.icon | img_url: 'small'}}" alt="">
    {% endif %}
</div>

{% schema %}
{
    "name": "CTA Banner",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "CTA Banner"
        },
        {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
        },
        {
            "type": "color",
            "id": "background",
            "label": "Background color",
            "default": "#ba2b20"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#fff"
        }
    ],
    "presets": [
        {
            "name": "CTA Banner"
        }
    ]
}
{% endschema %}