{{ 'component-kendama-product-box-slide.css' | asset_url | stylesheet_tag}}

<product-box>
    <section class="product-box">
        <div class="product-box__top">
            {% for product in collections[section.settings.featured_collection].products %}
                <a class="product-box__link{% if forloop.index > 1 %} absolute {% endif %}" href="{{ product.url }}">
                    <div class="product-box__image">
                        <img src="{{ product.featured_media.preview_image | img_url: 'large'}}" alt="{{ product.title }}">
                    </div>
                </a>
            {% endfor %}  
        </div>
        <div class="product-box__bottom">
            {% for product in collections[section.settings.featured_collection].products %}
                <div class="product-box__thumbnail">
                    <img src="{{ product.featured_media.preview_image | img_url: 'medium'}}" alt="{{ product.title }}">
                </div>
            {% endfor %}
        </div>
    </section>
</product-box>
<!--  -->
{% schema %}
{
    "name": "Product Box",
    "settings": [
        {
            "type": "collection",
            "id": "featured_collection",
            "label": "Collection"
        }
    ],
    "presets": [
        {
            "name": "Product Box"   
        }
    ]
}
{% endschema %}

{% javascript %}
    class ProductBox extends HTMLElement {
        constructor() {

        }

        connectedCallback() {
            this.slides = this.document.querySelectorAll(".")
        }   
    }    
    customElements.define('product-box', ProductBox)

{% endjavascript %}